@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");
* {
	margin: 0px;
}
html,
body {
	background-color: #000;
	width: 100%;
	height: 100%;
}
.footer {
	height: 40px;
	color: #f7f5fb;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Nunito", sans-serif;
}
.content-container {
	font-family: "Nunito", sans-serif;
	height: calc(100% - 120px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.headers {
	color: #c8ad55;
	font-size: 40px;
	width: fit-content;
	margin-bottom: 30px;
}
.link-input {
	display: flex;
	width: 60%;
	align-items: center;
}
.input-field {
	background-color: transparent;
	width: 90%;
	margin-right: 20px;
	border: 1.4px solid #3c7a89;
	border-radius: 10px;
}
.input {
	font-size: 20px;
	width: 95%;
	padding: 18px 20px 18px 20px;
	margin-left: 5px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	color: #fff;
	font-family: "Nunito", sans-serif;
}
.button {
	color: #fff;
	font-size: 20px;
	background-color: #3d5a80;
	padding: 18px 20px 18px 20px;
	border-radius: 10px;
	user-select: none;
}
.button:hover {
	cursor: pointer;
	background-color: #2f3e46;
	font-family: "Nunito", sans-serif;
	user-select: none;
}
.error-message {
	color: red;
	display: none;
	margin-top: 20px;
}
.message {
	color: #fff;
	font-family: "Nunito", sans-serif;
	margin-top: 30px;
	font-size: 18px;
}
.signup-link {
	color: #efcb68;
	user-select: none;
}
.signup-link:hover {
	cursor: pointer;
	color: #f3722c;
	user-select: none;
}
.links {
	margin-top: 30px;
	color: #fff;
	width: 60%;
}
.link-box {
	display: flex;
	height: 50px;
	background-color: #161719;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	border-radius: 10px;
}
.their-link {
	width: 40%;
	padding-left: 20px;
}
.their-the-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.our-link {
	width: 40%;
	display: flex;
	justify-content: space-between;
}
.the-link {
	color: #a6e1fa;
}
.the-link:hover {
	cursor: pointer;
}
.copy-button {
	margin-right: 20px;
	font-size: 18px;
}
.copy-button:hover {
	cursor: pointer;
	color: #f3722c;
}
.copy-button-big {
	display: none;
}
@media screen and (max-height: 630px) {
	.content-container {
		height: 100%;
	}
}
@media screen and (max-width: 754px) {
	.headers {
		font-size: 30px;
	}
	.link-input {
		width: 90%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.input-field {
		margin-bottom: 20px;
		width: 90%;
		margin-left: 20px;
	}
	.input {
		width: 90%;
	}
	.button {
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.links {
		width: 100%;
	}
	.link-box {
		width: 100%;
		flex-direction: column;
		height: 80px;
		justify-content: center;
	}
	.their-link,
	.our-link {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.copy-button {
		display: none;
	}
}
