@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
	margin: 0px;
}
html,
body {
	background-color: #000;
	width: 100%;
	height: 100%;
}
.footer {
	height: 40px;
	color: #f7f5fb;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Nunito", sans-serif;
}
.content-container {
	display: flex;
	width: 100%;
	height: calc(100% - 120px);
	align-items: center;
	flex-direction: column;
}
.link-input {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: fit-content;
}
.input-field {
	border: 1px solid #444;
	position: relative;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}
.input-field > i {
	font-size: 20px;
	padding-right: 5px;
}
.input {
	min-width: 80%;
	width: 84%;
	height: 25px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-right: 20px;
	font-family: "Nunito", sans-serif;
	background: transparent;
	color: #fff;
}
.content-big {
	font-size: 5rem;
	font-family: "Anton", sans-serif;
	color: seashell;
}
.content-small {
	font-size: 1.5rem;
	color: #efcb68;
	font-family: "Nunito", sans-serif;
}
.button-wrapper {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	color: #fff;
	font-size: 20px;
	background-color: #3d5a80;
	font-family: "Nunito", sans-serif;
	border-radius: 10px;
	user-select: none;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: 60%;
}
.button:hover {
	cursor: pointer;
	background-color: #2f3e46;
}
.links {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #fff;
	width: 80%;
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.links::-webkit-scrollbar {
	display: none;
}
.link-box {
	display: flex;
	height: 50px;
	background-color: #161719;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	border-radius: 10px;
}
.their-link {
	width: 40%;
	padding-left: 20px;
}
.their-the-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.our-link {
	width: 40%;
	display: flex;
	justify-content: space-between;
}
.the-link {
	color: #a6e1fa;
}
.the-link:hover {
	cursor: pointer;
}
.copy-button {
	margin-right: 20px;
	font-size: 18px;
}
.copy-button:hover {
	cursor: pointer;
	color: #f3722c;
}
.copy-button-big {
	display: none;
}
.error-message {
	color: red;
	display: none;
	margin-top: 20px;
	font-family: "Nunito", sans-serif;
}
.message {
	color: white;
	font-family: "Nunito", sans-serif;
	margin-top: 10px;
	font-size: 1rem;
}
@media screen and (max-width: 754px) {
	.link-input {
		width: 90%;
	}
	.button-wrapper {
		width: 100%;
	}
	.links {
		width: 100%;
	}
	.link-box {
		width: 100%;
		flex-direction: column;
		height: 80px;
		justify-content: center;
	}
	.their-link,
	.our-link {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.copy-button {
		display: none;
	}
}
