<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="/signup.css" />
		<script
			src="https://kit.fontawesome.com/11d589870a.js"
			crossorigin="anonymous"
		></script>
		<title>Login</title>
	</head>
	<body>
		<%-include('../views/header',{isShow : false})%>
		<div class="content-container">
			<div class="div-left">
				<div class="content">
					<div class="content-big">Get links<br />Few Steps away</div>
					<div class="content-small">Log in and get unlimited custom links</div>
					<div class="content-small" style="color: #f8ad9d">
						Not have ?
						<span
							style="color: #ff006e"
							class="create-account"
							onclick="location.assign(`${window.location.origin}/signup`)"
							>Create an account</span
						>
					</div>
				</div>
			</div>
			<div class="div-right">
				<div class="content c2">
					<div class="input-field">
						<i class="fas fa-envelope"></i>
						<input
							class="input email"
							type="email"
							placeholder="Email"
							oninput="validEmail(this)"
							onblur="validEmail(this)"
						/>
					</div>
					<div class="input-field">
						<i class="fas fa-key"></i>
						<input
							class="input password"
							type="password"
							placeholder="Password"
						/>
						<span class="password-show" onclick="eyechange(this)">
							<i class="fas fa-eye"></i>
						</span>
					</div>
					<div class="error-message"></div>
					<div class="button" onclick="submit()">
						<div class="button-content">Log in</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			Made with <span style="color: red">❤</span> by SmallMe
		</div>
	</body>
	<script src="/login.js"></script>
</html>
